<div class="background">
  <div class="container">
    <app-header></app-header>
    <br>
    <div class="jumbotron bg-light">
      <div class="container">
        <h4>{{product.nombre}}</h4>
        <h5>asdasdasd</h5>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 ">
              <div class="row">
                <div class="col-12 border">
                  <img src="../../assets/aguacate.jpg" alt="iagen" width="100%">
                </div>
                  <button type="button" class="btn btn-light border margent">Atras</button>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <h5><strong>Precio : 5 </strong></h5>
              <h6><strong>Unidades Disponibles: 16</strong></h6>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
