<div class="background">
  <div class="container">
    <app-header></app-header>
    <br>
    <div class="jumbotron bg-light">
      <div class="container">
        <h4>{{product.nombre}}</h4>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 ">
              <div class="row">
                <div class="col-12 border">
                  <img src="../../assets/{{product.imagen}}" alt="iagen" width="100%">
                </div>
                  <button type="button" class="btn btn-light border margent" (click)="goBack()" >Atras</button>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <h5><strong>Precio : {{product.precio}} </strong></h5>
              <h6><strong>Unidades Disponibles: {{product.cantidad}}</strong></h6>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
